{{!-- <h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
{{# if success}}
    <section class="success">
        <h2>Successful Validation</h2>
    </section>
    {{ else }}
        {{# if errors}}
            <section class="errors">
                <ul>
                    {{# each errors}}
                        <li>{{ this.msg }}</li>
                    {{/each}}
                </ul>
            </section>
        {{/if}}
        <form action="/submit" method="POST">
            <div class="input">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email">
            </div>
            <div class="input">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="input">
                <label for="cpassword">Confirm Password</label>
                <input type="password" id="cpassword" name="cpassword">
            </div>
            <button type="submit">Submit</button>
        </form>
{{/if}}
<section class="insert">
    <h3>Insert Data</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="input">
            <label for="content">Content</label>
            <input type="text" id="content" name="content">
        </div>
        <div class="input">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section>
<section class="get">
    <h3>Get Data</h3>
    <a href="/get-data">LOAD DATA</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>Title: {{ this.title }}</div>
                <div>Content: {{ this.content }}</div>
                <div>Author: {{ this.author }}</div>
                <div>ID: {{ this._id }}</div>
            </article>
        {{/each}}
    </div>
</section>
<section class="update">
    <h3>Update Data</h3>
    <form action="/update" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <div class="input">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="input">
            <label for="content">Content</label>
            <input type="text" id="content" name="content">
        </div>
        <div class="input">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div>
        <button type="submit">UPDATE</button>
    </form>
</section>
</section>
<section class="delete">
    <h3>Delete Data</h3>
    <form action="/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">DELETE</button>
    </form>
</section> --}}
{{!-- <div class="container">
  <div class="loginBox">
    <form action="/insert" method="POST">
          <h1>Login</h1>
      <div class="formInput">
        <label for='email'> Email Address </label>
        <input type="text" id="email" name="username" placeholder='abc@def.com'>
      </div>
      <div class="formInput">
        <label for='password'> Password </label>
        <input type="password" id="password" name="password" placeholder='password'>
      </div>
      <button>Login</button>
      
    </form>
  </div>
</div> --}}

<header class="header">
        <form>

        <div class="hero">

            <div class="hero__login">
                <h1 class="heading__primary u-margin-bottom-med">Login</h1>
                <div class="u-margin-bottom-med">
                    <div class="input__label ">User ID</div>
                    <input type="text" name="email" id="email" class="input__field" placeholder="enter your user ID">
                </div>
                <div class="u-margin-bottom-med">
                        <div class="input__label ">password</div>
                        <input type="password" name="password" id="password" class="input__field" placeholder="enter your password">
                </div>
                <div class="btn__container u-margin-bottom-med">
                    <button href="#login" class="btn btn-blue">Login <i class="material-icons md-8">arrow_right</i></button>
                </div>
                <p class="error-message">{{messages.error}}</p>

                       
                </div>
            </div>


            <div class="hero__content">
                <div class="heading__large">Welcome to<br/>
                    <span class="heading__large heading__bold">Steck</span>
                </div>
                
                <h2 class="heading__secondary">
                        
                </h2>
            </div>

            
        </div>
        </form>
    </header>